.custom-tree-container {
	display: flex;
	margin: -24px;
}
.block {
	flex: 1;
	padding: 8px 24px 24px;
}
.demo-block {
	margin-bottom: 24px;
	
	border: 1px solid #ebebeb;
	border-radius: 3px;
	transition: .2s;
}
.demo-block .source {
	padding: 24px;
}

.demo-tree .block:first-child {
	border-right: 1px solid #eff2f6;
}